<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-credit-card"style="color:blue"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Acerca de Nosotros</h4>                    
                </div>
                <div class="timeline-body">
                    <p><i class="fa fa-check " style="color:green" aria-hidden="true"></i>MISIÓN</p>
                    <p>Brindar y garantizar un servicio de transporte seguro y de excelencia reconocida por los clientes, 
                        basado en un sistema de gestión y control de flota de vanguardia en el servicio de transporte  
                        interprovincial de pasajeros .</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Acerca de Nosotros</h4>
                </div>
                <div class="timeline-body">
                        <p><i class="fa fa-check " style="color:green" aria-hidden="true"></i>VISIÓN</p>
                    <p>Ser líderes y reconocidos en el mercado como una empresa de transporte de pasajeros
                        de excelencia a nivel nacional. .</p>                    
                </div>
            </div>
        </li>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>