<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-credit-card"style="color:blue"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Acerca de Nosotros</h4>                    
                </div>
                <div class="timeline-body">
                    <p><i class="fa fa-check " style="color:green" aria-hidden="true"></i>MISIÓN</p>
                    <p>Brindar y garantizar un servicio de transporte seguro y de excelencia reconocida por los clientes, 
                        basado en un sistema de gestión y control de flota de vanguardia en el servicio de transporte  
                        interprovincial de pasajeros .</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Acerca de Nosotros</h4>
                </div>
                <div class="timeline-body">
                        <p><i class="fa fa-check " style="color:green" aria-hidden="true"></i>VISIÓN</p>
                    <p>Ser líderes y reconocidos en el mercado como una empresa de transporte de pasajeros
                        de excelencia a nivel nacional. .</p>                    
                </div>
            </div>
        </li>
    </ul>
</div>
